extends layout

block content
  div.container
    div.content
      div.page-header
        h1 California
      div.row
        div.col-md-8
          .lesson
            h3 Quiz
            | <form>
            |   <p>Question 1</p>
            |   <input type="radio" />    Answer 1<br />
            |   <input type="radio" />    Answer 2<br />
            |   <input type="radio" />    Answer 3<br />
            |   <input type="radio" />    Answer 4<br />
            |   <br />
            |   <p>Question 2</p>
            |   <input type="radio" />    Answer 1<br />
            |   <input type="radio" />    Answer 2<br />
            |   <input type="radio" />    Answer 3<br />
            |   <input type="radio" />    Answer 4<br />
            |   <br />
            |   <p>Question 3</p>
            |   <input type="radio" />    Answer 1<br />
            |   <input type="radio" />    Answer 2<br />
            |   <input type="radio" />    Answer 3<br />
            |   <input type="radio" />    Answer 4<br />
            |   <br />
            |   <input type="submit" />
            | </form><br />
            a(href="cellar", class="btn btn-default") Cellar
        div.col-md-4
          .well
            h3 Thomas Altman
            p $25,942.18 of wine sold