extends layout

block content
  div.container
    div.content
      div.page-header
        h1 California
      div.row
        div.col-md-8
          .lesson
            h2 Pairings
            h3 Red Grapes
            h4 Cabernet Sauvignon
            p 
            h4 Merlot
            p
            h4 Pinot Noir
            p
            h4 Syrah
            p
            h4 Zinfandel
            p
            h3 White Grapes
            h4 Chardonnay
            p
            h4 Sauvignon Blanc (Fume Blanc)
            p
            a(href="2", class="btn btn-default") Previous
            a(href="4", class="btn btn-default pull-right") Continue
        div.col-md-4
          .well
            h3 Thomas Altman
            p $25,942.18 of wine sold