extends layout

block content
  div.container
    div.content
      div.page-header
        h1 California
      div.row
        div.col-md-8
          .lesson
            h3 Quiz
            | <form>
            |   <p>What grape is native to Croatia, but grown almost exclusivelly in California?</p>
            |   <input type="radio" />    Pinotage<br />
            |   <input type="radio" />    Pinot Noir<br />
            |   <input type="radio" />    Cabernet Sauvignon<br />
            |   <input type="radio" />    Zinfandel<br />
            |   <br />
            |   <p>Which of the following would pair best with a grilled Ribeye?</p>
            |   <input type="radio" />    Merlot<br />
            |   <input type="radio" />    Chardonnay<br />
            |   <input type="radio" />    Cabernet Sauvignon<br />
            |   <input type="radio" />    Pinot Noir<br />
            |   <br />
            |   <p>What causes the toasted, buttery notes in California Chardonnay?</p>
            |   <input type="radio" />    The warm climate<br />
            |   <input type="radio" />    Sea salt found in the soil in California<br />
            |   <input type="radio" />    Ageing techniques<br />
            |   <input type="radio" />    Adding sugar to the fermentation<br />
            |   <br />
            | </form><br />
            a(href="cellar", class="btn btn-default") Cellar
        div.col-md-4
          .well
            h3 Thomas Altman
            p $25,942.18 of wine sold