extends layout

block content
  div.container
    div.content
      div.page-header
        h1 California Wine Cellar
      div.row
        div.col-md-8
          .lesson
            .row
              .col-md-6
                h3 Meiomi, Belle Glos 2011
                  .row
                    .col-md-4
                      | <img src="http://static.wine-searcher.net/images/labels/91/80/belle-glos-meiomi-pinot-noir-california-usa-10519180.jpg" height="150px" width="150px">
                      | <br />
                      | <br />
                    .col-md-8
                      p Sight: Light ruby
                      p Nose: Red cherry, vanilla, blueberries
                      p Taste: Slightly dry, tannic
                      p Pairings: Lamb, Pork
              .col-md-6
                h3.pull_left Opus One 2009
                  .row
                    .col-md-4
                      | <img src="http://www.totalwine.com/_static/webupload/730/1_44709750_3.jpg" height="150px" width="110px">
                      | <br />
                      | <br />
                    .col-md-8
                      p Sight: Deep purple
                      p Nose: Cassis, dark chocalte, blackberries
                      p Taste: Dry, tannic, velvety
                      p Pairings: Ribeye
            a(href="/", class="btn btn-default") Home
        div.col-md-4
          .well
            h3 Thomas Altman
            p $25,942.18 of wine sold