extends layout

block content
  div.container
    div.content
      div.page-header
        h1 California
      div.row
        div.col-md-8
          .lesson
            h2 Pairings
            h3 Red Grapes
            h4 Cabernet Sauvignon
            p Grilled red meats. Fatty foods. Dishes with black pepper
            h4 Merlot
            p Sharp or sour ingredients like mild citrus, or greens. Mushrooms and fresh herbs. Tuna and salmon. Non-fatty red meats.
            h4 Pinot Noir
            p Versatile, pairs well with a lot. Lamb. Root vegetables. Salmon. Asian cuisines, especially Indian. Cold cuts.
            h4 Syrah
            p Thick, full preperations, such as stews. Gamey meats such as squab, venisson, and wild boar. Barbecue.
            h4 Zinfandel
            p Roasted meats. Slightly spicy foods. Burgers.
            h3 White Grapes
            h4 Chardonnay
            p Rich, creamy foods. Shellfish. Nuts. Mild mushrooms.
            h4 Sauvignon Blanc (Fume Blanc)
            p Salads, vegetarian dishes. Light soups. Anything emphasizing fresh herbs.
            a(href="3", class="btn btn-default") Previous
            a(href="quiz", class="btn btn-default pull-right") Continue
        div.col-md-4
          .well
            h3 Thomas Altman
            p $25,942.18 of wine sold