extends layout

block content
  div.container
    div.content
      div.page-header
        h1 California
      div.row
        div.col-md-8
          .lesson
            h2 Varietals
            h3 Red Grapes
            h4 Cabernet Sauvignon
            p The most widely planted grape in California. It is responsible for some of the most legendary and expensive wines the state has to offer. California Cabernet Sauvignon tends to be quite rich, dense, and tannic. 
            h4 Merlot
            p This varietal can be used to make wines with a wide range of qualities and styles. It is most often used to make medium-bodied, berry-flavored wines of average quality.
            h4 Pinot Noir
            p Planted in the cool-climates of the North Coast and Central Coast AVAs, Pinot Noir is responsible for some of the most important red wines in the state. California Pinot Noirs tend to be soft and velvety with red cherry flvors.
            h4 Syrah
            p Thriving in the varied climates of California, Syrah producs powerful, fruity red wines in the warmer climates , and more brooding, earthy and gamey versions in the cooler areas.
            h4 Zinfandel
            p Originally a Croatian grape, Zinfandel is almost exclusively planted in California. Although often associated with lower-quality, semisweet blush wines called White Zinfandel, this grape produces powerful and rich red wines. Zinfandel is peppery with flavors of blackberry jam. The grape thrives in warm climates, and it is not uncommon to seeextremely high alcohol content of over 15 percent in these full-bodied wines.
            h3 White Grapes
            h4 Chardonnay
            p The top selling wine in the United States, this grape variety has adapted well to California. These wines burst with ripe pineapple, pear, and green apple. Winemakes tend to use a variety techniques, like malolactic fermentation and sur lie aging, in the production of Chardonnay that gives these wines  toasted, buttery characteristics.
            h4 Sauvignon Blanc (Fume Blanc)
            p A distant second behind Chardonnay in production, Sauvignon Blancs from California are nonetheless some delicious and inexpensive. Sauvignong Blanc from California tends to have strong grapefruit and tropical fruit notes, and lack the herbaceousness of European Sauvignon Blancs.
            a(href="2", class="btn btn-default") Previous
            a(href="4", class="btn btn-default pull-right") Continue
        div.col-md-4
          .well
            h3 Thomas Altman
            p $25,942.18 of wine sold