extends layout

block content
  div.container
    div.content
      div.page-header
        h1 California
      div.row
        div.col-md-8
          .lesson
            h2 Regions
            p Califoria as a whole has a Mediterranean climate, characterized by warm dry summers and cool wet winters, that is well suited for wine growth. Soil quality and landscape vary dramatically through the state, however. For this reason California is divided into three main AVAs (American Viticultural Area). Each of which contain smaller AVAs.
            h3  North Coast
            p The North Coast AVA is home to some of the most prominent wineries in the U.S. It stretches north from the San Francisco Bay for 120 miles and reaches east for 50 miles. The North Coast AVA contains the following important sub regions:
            h4 Napa Valley
            p The Napa Valley is the premier wine region of the United States, and is genereally considered the most important viticultural area outside of Europe. Despite its fame, Napa Valley is not a large producer of wine. Napa Valley accounts for only 4 percent of total wine produced in California. It is the quality of the wines produced here that creates the regions fame, not the quantity.
            p While Napa Valley is only a little over 30 miles long and 5 miles wide, it contains a suprising number different climate zones and soil types. Cooler conditions exist in higher elevations, warmer conditions are found along the valley floor. This leads to a wide variety of varietals and wine making styles in the region.
            h4 Sonoma Valley
            p  Sonoma Valley is the birth place of California wines. It was here that Spanish missionaries for planted grapes. Sonoma Valley lies to the West of Napa Valley, and is roughly twice as large. A series of mountain ranges runs through the middle of Sonoma Valley. These mountains trap cool ocean air along the west, and produces Charonnay and Pinot Noir. The east of Sonoma Valley is shielded from the ocean air and has slightly warmer climates that produce more full bodied wines from Cabernet Sauvignon, Syrah, and Merlot.
            h3 Sierra Foothills
            p Nested against the western slopes of the Sierra Nevada, this region is experiencing a boom in wine production. Inexpensive land and a temperate climate are attracting many new wine makers to this region. This combination of cooler weather and winemakers willing to experiment with production techniques results in wines that tend to be more elegant and expressive than bold and aggressive. While large plantings of Syrah, Cabernet Sauvignon, and Chardonnay can be found here, the dominant varietal of the region is Zinfandel.
            h3 Central Coast
            p Spanning nearly 400 miles of coastline from Oakland in the north to Santa Barbara in the south, this AVA is the third major wine prouding region in California. Vineyards in this region along the Pacific Ocean coast result in cool, foggy conditions that are particularly well-suited to the production of light and earthy Burgundy grapes. Vineyards further inland have warmer climates that result bolder wines. This vineyards are particularly well-suited for Cabernet Sauvignon and the Rhone varietals.
            a(href="1", class="btn btn-default") Previous
            a(href="3", class="btn btn-default pull-right") Continue
        div.col-md-4
          .well
            h3 Thomas Altman
            p $25,942.18 of wine sold