extends layout

block content
  div.container
    div.content
      div.page-header
        h1 California
      div.row
        div.col-md-8
          .lesson
            h3 Varietals
            a(href="2", class="btn btn-default") Previous
            a(href="4", class="btn btn-default pull-right") Continue
        div.col-md-4
          .well
            h3 Thomas Altman
            p $25,942.18 of wine sold