extends layout

block content
  div.container
    div.content
      div.page-header
        h1 California
      div.row
        div.col-md-8
          .lesson
            h3 History
            p California is by far the most important wine producing area in the United States. California accounts for nearly 90 percent of all wine produced in the U.S. In fact, if the state was its own country, California would be the fourth largest wine producer in the world.
            p Wine production in California began with the arrival of Spanish missionaries, and was predominantly used for sacramental purposes. The main varietal used was Criolla, or Mission grape. This varietal was sturdy and produced high yields of low quality. Criolla was the dominant varietal in California until the early 1900s.
            p Commerical planting of wine grapes began in the mid 1800s during the gold rush era. This period saw the first vineyards in Napa and Sonoma Valleys in Northern California. While these vineyards show some promise, the wine industry in California faced several major challenges over the course of the next hundred years, including phylloxera (a vine-eating insect), Prohibition, and the Great Depression.
            p The first commercially successful wines produced in California were the "jug wines." These wines were produced en masse and tended to be sweet and of low quality. Some producers began experimenting with European varietals and winemaking techniques in the late 1960s. A string of successful vintages combined with world class California marketing led to an explosion of wine production in the state.
            p Premium production still revolves around only a handful of varietals in a few select regions. A culture of experimentation and excellence drives the production of high quality wine in California. In the next section, we willearn about the major wine producing regions in the state. 
            a(href="/california", class="btn btn-default") Previous
            a(href="2", class="btn btn-default pull-right") Continue
        div.col-md-4
          .well
            h3 Thomas Altman
            p $25,942.18 of wine sold