!!!
html
  head
    block head
    block title
      title dekanter
    block meta
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    link(href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800", rel="stylesheet", type="text/css")
    | <style>
    | body { padding-top: 60px; }
    | </style>
  body
    include header

    block content
